@import "../../shared/styles/variables";
.header {
  height: 100vh;
  width: 100%;
  margin-bottom: 5rem;
  position: relative;
  color: $font-color-reversed;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 150vw;
    height: 150vh;
    // border-radius: 50%;
    top: -40%;
    left: -26vw;
    z-index: -1;
    background: $gradient-primary;
  }
}
