$color-primary: #669630;
$color-tertiary: #ff585f;
$color-primary-darker: #669630;
$color-tertiary-darker: #fd424b;
$color-primary-opacity: #5ec5763a;
$color-tertiary-opacity: #ff58602d;
$gradient-primary: linear-gradient(to bottom, #669630, #fdefd9);
$background: #f9efdd;
$background-opacity: rgba(255, 255, 255, 0.7);
$font-color: #86a364;
$font-color-2: rgb(70, 70, 70);
$font-color-reversed: #efe1cb;
$action-color: #6dcff6;

$font-content: 1.2rem;
$font-header: 1.8rem;
$font-section-header: 2.4rem;
$font-section-descr: 2rem;
$font-big-header: 3.2rem;
$font-big-desc: 2.5rem;
$icon-size: 3rem;
