@use "../../shared/styles/mixins";
.navbar {
  height: 8rem;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;

  button {
    display: none;
  }

  @include mixins.breakpoint(large) {
    margin: 0 4rem;

    button {
      display: block;
    }
  }
}
