@import "../../shared/styles/variables";
@import "../../shared/styles/mixins";

.hero {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  //   padding: 3rem 1rem;
  color: $font-color-reversed;
  position: relative;
  margin: 2rem 3rem;
  z-index: 1;
  & > * {
    margin: 1rem;
  }

  h1 {
    font-size: $font-big-header;
    @include breakpoint(large) {
      font-size: calc($font-big-header + 1rem);
    }
  }

  p {
    font-size: $font-header;
    @include breakpoint(large) {
      font-size: $font-section-descr;
    }
  }

  @include breakpoint(large) {
    margin: 4rem 10rem;
  }

  .hero--photos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .hero--img {
      position: relative;
      width: 22rem;
      height: 26rem;
      margin: 0 3rem;
      overflow: hidden;
    }
  }
}
