@import "../../shared/styles/variables";

.footer {
  display: flex;
  padding: 6rem 3rem;
  background-color: $font-color;
  justify-content: space-between;
  align-items: center;
  color: $background;

  .footer--logo {
    height: 6rem;
  }
}
