@import "../../../shared/styles/variables";

.section {
  margin-top: 8rem;
  padding: 0 10rem;
  width: 100%;
  text-align: center;

  h2 {
    font-size: $font-section-header;
    color: $action-color;
  }

  h3 {
    font-size: $font-section-header;
    color: $background;
    position: relative;
    display: inline-block;

    &::before {
      content: "";
      position: absolute;
      left: -1rem;
      top: 0;
      width: 100%;
      height: 110%;
      background: $font-color;
      z-index: -1;
      border-radius: 10px 10px 0px 0;
      padding: 0 1rem;
    }
  }
  article {
    text-align: left;
    padding: 4rem 0;
  }
}
